<span id="page-header"><i class="fa fa fa-sitemap"></i> Boards / Devices</span>

<ul id="page-actions" class="nav navbar-nav">
    <li><a href ng-click="ctrl.newBoard()"><i class="fa fa-plus"></i> New</a></li>

    <li ng-init="page.replace('#app-header', '#page-header');page.replace('#app-header-actions', '#page-actions')"></li>
</ul>


<!-- Main content -->
<section class="content" data-ng-init="ctrl.init()">


    <div class="row">

        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">
                    <h3 class="widget-user-username">Board Description</h3>
                    <h5 class="widget-user-desc">ESP8866</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="images/boards/ESP8266.png" alt="User Avatar">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">5</h5>
                                <span class="description-text">Devices</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">3</h5>
                                <span class="description-text">Sensors</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">Last Update</h5>
                                <span class="description-text">1/1/1 11:11</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>

    </div>

    <div class="box box-solid box-primary">
        <div class="box-header">
            <h3 class="box-title">Devices (${ctrl.devices.length})</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="ctrl.syncDevices()" title="Refresh Devices"><i class="fa fa-refresh"></i></button>
                <button type="button" class="btn btn-box-tool" onclick="new app.VoiceCommand().init()" title="Voice Command"><i class="fa fa-microphone"></i></button>
                <button type="button" class="btn btn-box-tool" ng-click="ctrl.sendToAll(1);" title="All On"><i class="fa fa-lightbulb-o"></i></button>
                <button type="button" class="btn btn-box-tool" ng-click="ctrl.sendToAll(0);" title="All Off"><i class="fa fa-power-off"></i></button>
            </div>


        </div><!-- /.box-header -->
        <div class="box-body">

            <div id="main-device-list" class="device-view-container clearfix">

                <a class="device-view"  data-deviceid="${device.id}" ng-click="ctrl.toggleValue(device.id);" ng-repeat="device in ctrl.devices | filter: ctrl.isControllableDevice">
                    <span class="device-view-icon mws-ic ${ctrl.getIcon(device.id)}">&nbsp;</span>
                    <div class="device-view-content">
                        <span class="device-view-title">${device.name}</span>
                        <span class="device-view-value" ng-class="device.value == 1 ? 'on' : 'off'">${device.value == 1 ? "ON" : "OFF"}</span>
                    </div>
                </a>

            </div>

        </div><!-- /.box-body -->
    </div>


    <!----------------------------------------------------------------->
    <!-- New Board                                                   -->
    <!----------------------------------------------------------------->
    <div id="new-board"  class="modal fade" tabindex="-1" role="dialog" >
        <div class="modal-dialog" role="document">
            <form class="form-horizontal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" >New Board</h4>
                    </div>
                    <div class="modal-body">
                        <h4> <mark>1.</mark> Choose a compatible board</h4>
                        <p> The boads using arduino framework (like ESP8266) are compatible with OpenDevice <br/> See
                            <a href="https://github.com/OpenDevice/OpenDevice/wiki/Supported-Devices" target="_blank">supported devices</a> for additional information </p>

                        <h4> <mark>2.</mark> Install the Library</h4>
                        You can install the library using <a href="http://www.arduino.cc/en/guide/libraries" target="_blank">Arduino Library Manager</a> ou download current version from
                        <a href="https://github.com/OpenDevice/opendevice-lib-arduino"  target="_blank">github</a>.

                        <h4> <mark>3.</mark> Upload Code</h4>
                        <p>You can use code samples provided in Arduino IDE (Examples > OpenDevice) <br/>
                            More advanced projects can be found in: <a href="https://github.com/OpenDevice/opendevice-examples" target="_blank">opendevice-examples</a>
                        </p>

                        <h4> <mark>4.</mark> Change API Key</h4>
                        <p>Use one of the keys below*:</p>

                        <blockquote>
                            <ul class="apiKeyList">
                            </ul>
                        </blockquote>
                        *<i>This is not required if you are running a local server</i>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >OK</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</section>
<!-- /.content -->