<!doctype html>

<html xmlns:ng="http://angularjs.org" ng-app="opendevice">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/fluid.css" media="screen" />

<link rel="stylesheet" type="text/css" href="css/core/mws.styles-all.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/app.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/icons/icons.css" media="screen" />

<link rel="stylesheet" type="text/css" href="plugins/jgrowl/jquery.jgrowl.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/jui/jquery.ui-all-min.css" media="screen" />

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="css/mws.theme.css" media="screen" />

<!-- JavaScript Plugins -->

<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>

<script type="text/javascript" src="plugins/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="plugins/jgrowl/jquery.jgrowl-min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="plugins/flot/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="plugins/validate/jquery.validate-min.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>

<script type="text/javascript" src="js/mws.js"></script>

<title>OpenDevice - Dashboard</title>

</head>

<body>

	<!-- Header Wrapper -->
	<div id="mws-header" class="clearfix">
    
    	<!-- Logo Wrapper -->
    	<div id="mws-logo-container">
        	<div id="mws-logo-wrap">
            	<img src="images/mws-logo.png" alt="mws admin" />
			</div>
        </div>
        
        <!-- User Area Wrapper -->
        <!-- DISABLED -->
        <div id="mws-user-tools" class="clearfix" style="display: none">
        
        	<!-- User Notifications -->
        	<div id="mws-user-notif" class="mws-dropdown-menu">
            	<a href="#" class="mws-i-24 i-alert-2 mws-dropdown-trigger">Notifications</a>
                <span class="mws-dropdown-notif">1</span>
                <div class="mws-dropdown-box">
                	<div class="mws-dropdown-content">
                        <ul class="mws-notifications">
                        	
                            <!-- Notification Content -->
                        	<li class="read">
                            	<a href="#">
                                    <span class="message">
                                        Lorem ipsum dolor sit amet
                                    </span>
                                    <span class="time">
                                        January 21, 2012
                                    </span>
                                </a>
                            </li>
                        	<li class="unread">
                            	<a href="#">
                                    <span class="message">
                                        Lorem ipsum dolor sit amet
                                    </span>
                                    <span class="time">
                                        January 21, 2012
                                    </span>
                                </a>
                            </li>
                            <!-- End Notification Content -->
                            
                        </ul>
                        <div class="mws-dropdown-viewall">
	                        <a href="#">View All Notifications</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- User Messages -->
            <div id="mws-user-message" class="mws-dropdown-menu">
            	<a href="#" class="mws-i-24 i-message mws-dropdown-trigger">Messages</a>
                <span class="mws-dropdown-notif">1</span>
                <div class="mws-dropdown-box">
                	<div class="mws-dropdown-content">
                        <ul class="mws-messages">
                        
                        	<!-- Message Content -->
                        	<li class="read">
                            	<a href="#">
                                    <span class="sender">John Doe</span>
                                    <span class="message">
                                        Lorem ipsum dolor sit amet
                                    </span>
                                    <span class="time">
                                        January 21, 2012
                                    </span>
                                </a>
                            </li>
                        	<li class="unread">
                            	<a href="#">
                                    <span class="sender">John Doe</span>
                                    <span class="message">
                                        Lorem ipsum dolor sit amet
                                    </span>
                                    <span class="time">
                                        January 21, 2012
                                    </span>
                                </a>
                            </li>
                            <!-- End Messages -->
                            
                        </ul>
                        <div class="mws-dropdown-viewall">
	                        <a href="#">View All Messages</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- User Functions -->
            <div id="mws-user-info" class="mws-inset">
            	<div id="mws-user-photo">
                	<img src="images/profile.jpg" alt="User Photo" />
                </div>
                <div id="mws-user-functions">
                    <div id="mws-username">
                        Usuário
                    </div>
                    <ul>
                    	<li><a href="#">Perfil</a></li>
                        <li><a href="index.html">Sair</a></li>
                    </ul>
                </div>
            </div>
            <!-- End User Functions -->
            
        </div>
    </div>
    
    <!-- Main Wrapper -->
    <div id="mws-wrapper" ng-controller="DashboardController">
    	<!-- Necessary markup, do not remove -->
		<div id="mws-sidebar-stitch"></div>
		<div id="mws-sidebar-bg"></div>
        
        <!-- Sidebar Wrapper -->
        <div id="mws-sidebar">
        	
            <!-- Search Box -->
        	<div id="mws-searchbox" class="mws-inset">
            	<form action="dashboard.html">
                	<input type="text" class="mws-search-input" />
                    <input type="submit" class="mws-search-submit" />
                </form>
            </div>
            
            <!-- Main Navigation -->
            <div id="mws-navigation">
            	<ul>
                	<li class="active"><a href="index.html" class="mws-i-24 i-home">Dashboard</a></li>
                	<li><a href="#" onclick="alert('Not Implemented !')" class="mws-i-24 i-file-cabinet">Dispositivos <span class="mws-nav-tooltip">${model.devices.length}+</span></a></li>
                	<li><a href="#" onclick="alert('Not Implemented !')" class="mws-i-24 i-list">Conexões</a></li>
                	<li><a href="#" onclick="alert('Not Implemented !')" class="mws-i-24 i-day-calendar">Agendamento</a></li>
                	<li><a href="#" onclick="alert('Not Implemented !')" class="mws-i-24 i-chart">Logs</a></li>
                	<li>
                    	<a href="#" class="mws-i-24 i-cog">Configuração</a>
                        <ul>
                        	<li><a href="#" onclick="alert('Not Implemented !')">Interface</a></li>
                        	<li><a href="#" onclick="alert('Not Implemented !')">Aplicação</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- End Navigation -->
            
        </div>
        
        
        <!-- Container Wrapper -->
        <div id="mws-container" class="clearfix">
        
        	<!-- Main Container -->
            <div class="container ng-cloak">


            	<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span class="mws-i-24 i-sign-post">Dispositivos: Escritório (${model.devices.length}) </span>
                    </div>
                    <div class="mws-panel-body">


		 				<div id="main-device-list" class="device-view-container clearfix">

                            <a class="device-view"  data-deviceid="${device.id}" ng-click="toggleValue(device.id);" ng-repeat="device in model.devices">
 		                    	<span class="device-view-icon mws-ic ${getIcon(device.id)}">&nbsp;</span>
 		                        <span class="device-view-content">
 		                        	<span class="device-view-title">${device.name}</span>
 		                            <span class="device-view-value" ng-class="device.value == 1 ? 'on' : 'off'">${device.value == 1 ? "ON" : "OFF"}</span>
 		                        </span>
 		                    </a>

		                </div>

						<div class="mws-panel-toolbar bottom right clearfix" data-devicegroup="1">
                        	<ul>
                        	    <li><a href="#" class="mws-ic-16 ic-add" id="btn-device-add" >&nbsp;</a></li>
                            	<li><a href="#" class="mws-ic-16 ic-arrow-refresh">&nbsp;</a></li>
                            	<li><a href="#" class="mws-ic-16 ic-cross" onclick="new app.VoiceCommand().init()" >&nbsp;</a></li>
                            	<li><a href="#" class="mws-ic-16 ic-lightbulb-off" ng-click="sendToAll(0);">Desligar Todos</a></li>
                            	<li><a href="#" class="mws-ic-16 ic-lightbulb" ng-click="sendToAll(1);">Ligar Todos</a></li>
                            </ul>
                        </div>
                    	
                    </div>
                </div>

                <div class="mws-panel grid_8">
                    <div class="mws-panel-header">
                        <span class="mws-i-24 i-sign-post"> Dispositivos Analógicos </span>
                    </div>
                    <div class="mws-panel-body">

                        <div id="device-chart" style="height:220px"></div>

                    </div>
                </div>
                
            </div>
            <!-- End Main Container -->
            
            <!-- Footer -->
            <div id="mws-footer">
            	Copyright CriativaSoft 2013. All Rights Reserved.
            </div>
            <!-- End Footer -->
            
        </div>
        <!-- End Container Wrapper -->
        
    </div>
    <!-- End Main Wrapper -->
    
     
<div id="new-dialog" title="Novo Dispositivo" style="display: none;">
  <p>TODO: Formulario Pendente !</p>
</div>



<!-- ----------------------------------------------------- -->
<!-- AngularJS Code -->
<!-- ----------------------------------------------------- -->

	<script type="text/javascript" src="js/angular-1.2.x.js"></script>
	<script type="text/javascript" src="js/angular-route-1.2.x.js"></script>

<!-- ----------------------------------------------------- -->
<!-- OpenDevice -->
<!-- ----------------------------------------------------- -->

    <script type="text/javascript" src="js/atmosphere.js"></script>
    <!--<script type="text/javascript" src="js/jquery.atmosphere.js"></script> <!--Deve ser usado esse, testar compatibilidade !-->

    <script type="text/javascript" src="js/opendevice.js"></script> <!-- mvn:dependency -->

    <script type="text/javascript" src="js/DeviceChart.js"></script>

    <!-- ----------------------------------------------------- -->
    <!-- Application Code -->
    <!-- ----------------------------------------------------- -->

    <script type="text/javascript" src="js_app/main.js"></script>
    <script type="text/javascript" src="js_app/DashboardController.js"></script>

    <script>

        $(function() {
            new DeviceChart('#device-chart', [6, 7]);
        });


    </script>

    
</body>
</html>
