/* Report Buttons */

.device-view-container
{
	width:100%;
	margin-bottom:24px;
}

.device-view
{
	width:18% !important;
	min-width:167px;
	margin:8px 1%;
	height:80px;
	float:left;
	cursor:pointer;
	display:block;
	text-decoration:none;
	color:#323232;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	
	background:#ffffff url(../../images/core/mws-report-bg.png) repeat-x;
	border:1px solid #cccccc;
	
	/* CSS 3 */
	
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
}

.device-view:hover
{
	background-color:rgb(208, 246, 255);
}

.device-view:active
{
	background-image:none;
	
	
	/* CSS 3 */
	
	-webkit-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5);
	-o-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5);
	-moz-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5);
	-khtml-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5);	
	box-shadow:0px 1px 0px rgba(255, 255, 255, 0.5);	
}

.device-view .device-view-icon
{
	width:48px;
	height:100%;
	float:left;
	display:block;
	border-right:1px solid #cccccc;
	
	background-position:center center;
}

.device-view .device-view-content
{
	margin-left:49px;
	display:block;
	padding:8px 10px;
}

.device-view .device-view-content .device-view-title
{
	white-space:nowrap;
	display: block;
}

.device-view .device-view-content .device-view-value
{
	font-size:32px;
	font-weight:bold;
	display:inline-block;
}

.device-view .device-view-content .device-view-value.on
{
	padding-right:24px;
	color: rgb(100, 163, 3);
}

.device-view .device-view-content .device-view-value.off
{
	padding-right:24px;
	color: rgb(245, 56, 9)
}
